<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>JPSdA.FlacCoverQL</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FlacCoverQL</string>
	<key>CFBundlePackageType</key>
	<string>QLGEN</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>CFPlugInDynamicRegisterFunction</key>
        <string></string>
        <key>CFPlugInDynamicRegistration</key>
        <string>NO</string>
        <key>CFPlugInFactories</key>
        <dict>
                <key>EF6CEA3B-7D09-4793-BF91-DB6B0B538CEA</key>
                <string>QuickLookGeneratorPluginFactory</string>
        </dict>
        <key>CFPlugInTypes</key>
        <dict>
                <key>5E2D9680-5022-40FA-B806-43349622E5B9</key>
                <array>
                        <string>EF6CEA3B-7D09-4793-BF91-DB6B0B538CEA</string>
                </array>
        </dict>
        <key>CFPlugInUnloadFunction</key>
        <string></string>
        <key>LSMinimumSystemVersion</key>
	<string>12.7</string>
	<key>QLGeneratorEnabled</key>
	<true/>
	<key>QLPreviewGenerators</key>
	<array>
		<dict>
			<key>QLGeneratorContentTypes</key>
			<array>
				<string>org.xiph.flac</string>
			</array>
		</dict>
	</array>
	<key>QLNeedsToBeRunInMainThread</key>
	<true/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>org.xiph.flac</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>flac</string>
				</array>
				<key>public.mime-type</key>
				<string>audio/flac</string>
			</dict>
			<key>UTTypeDescription</key>
			<string>FLAC Audio</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
